<%- include("partials/header.ejs") %>

<style>
  .image-thumbnail {
    height: 80px;
    width: 80px;
  }
</style> 
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>List Books</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">List Books</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">List Books</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table
              id="tbl-list-book"
              class="table table-bordered table-striped"
            >
              <thead>
                <tr>
                  <th>Cover Image</th>
                  <th>Category</th>
                  <th>Name</th>
                  <th>Amount<%if(currency_data!==null){ %>

                    (<%= currency_data.option_value %>)
      
                 <% } else{ %> 
                 <% } %></th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% books.forEach(function(data){ %>

                <tr>
                  <td>
                    <img class="image-thumbnail" src="<%=data.cover_image%>" />
                  </td>
                  <td><%= data.Category.name %></td>
                  <td><%= data.name%></td>
                  <td><%= data.amount%>
                  </td>
                  <td>
                    <% if(data.status=="1"){%>
                    <button class="btn btn-success">Active</button>
                    <%} else{%>
                    <button class="btn btn-danger">Inactive</button>
                    <%} %>
                  </td>
                  <td style="display: flex;justify-content: space-evenly;">
                    <a
                      href="/admin/edit-book/<%= data.id%>"
                      class="btn btn-info"
                      ><i class="fa fa-edit"></i
                    ></a>

                    <form
                      method="post"
                      action="/admin/delete-book/<%= data.id %>"
                      id="frm-delete-book-<%= data.id %>"
                    >
                      <input
                        type="hidden"
                        value="<%= data.id%>"
                        name="book_id"
                      />
                    </form>

                    <a
                      href="javascript:void(0)"
                      onclick="if(confirm('Are You sure want to delete ? ')){$
                      ('#frm-delete-book-<%= data.id%>').submit() }"
                      class="btn btn-danger"
                      ><i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>

                <%} ) %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Cover Image</th>
                  <th>Category</th>
                  <th>Name</th>
                  <th>Amount   <%if(currency_data!==null){ %>

                    (<%= currency_data.option_value %>)
      
                 <% } else{ %> 
                 <% } %></th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
