
<%- include("partials/header.ejs") %>


<style>
  #frm-return-a-book label.error{
    color:red
  }
</style>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Return a Book</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Return a Book</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Return a Book</h3>
          </div>
        <!-- text input -->
        <div class="card-body">
          <form method="post",action="/admin/return-a-book" id="frm-return-a-book">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label>Select User</label>
                     <select class="form-control" required name="dd_user" id="return_dd_user">
                      <option value="">Choose User</option>  
                      <% users.forEach(function(data){ %>
                            <option value="<%= data.id%>"><%= data.name%> (<%= data.email %>)</option>
                      <%}) %>  
                     </select>
                    </div>
                  </div>

                <div class="col-sm-6">
                    <div class="form-group">
                      <label>Select Book</label>
                     <select class="form-control" required name="dd_book" id="return_dd_book">
                      <option value="">Choose Book</option>    
                     </select>
                    </div>
                  </div>
            </div>

         

           

            <button class="btn btn-dark" type="submit">Submit</button>
       </div>
          </form>
        
        
      
      </div>
      
    </div>
 
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- /.content-wrapper -->
<%- include("partials/footer.ejs") %>